@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

.dropdown{
    margin-left: 50px;
}
.grid2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}
.grid3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid3 i{
    margin-left: 25px;
    font-size: 30px;
}
.eko{
    font-size: 60px;
    color: white;
}

.eko:hover{
    font-size: 60px;
    color: red;
}



























  }